<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.log4netConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="User: %username%newlineLogger: [%logger]%newlineLevel: %level%newlineMessage: %message%newline%newline" />
      </layout>
    </appender>
    <appender name="RollingFileLogger" type="log4net.Appender.RollingFileAppender">
      <file value="D:\VS-Projects\C#HighQualityCode-Part2\HQC-Part2\DevelopmentTools\Screenshots\log4net\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{DATE}%newlineUser: %username%newlineLogger: [%logger]%newlineThread: [%thread]%newlineLevel: %level%newlineMessage: %message%newlineException: %exception%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="ConsoleLogger" />
      <appender-ref ref="RollingFileLogger" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>